.single {
    &__details {
        display: flex;
        gap: 30px;
    }
    &__images {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-gap: 14px;
        width: 50%;
        overflow: hidden;
        height: 530px;

        &__exams {
            overflow-y: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 14px;
            height: 100%;
            span {
                border-radius: 20px;
                min-height: calc(33.3% - 9.33px);
                overflow: hidden;
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        &__main {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            overflow: hidden;
            background: #efeeec;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__info {
        width: 50%;
        &__context {
            display: flex;
            flex-direction: column;
            gap: 14px;
            padding-bottom: 24px;
            border-bottom: 1px solid #ddd;
        }
        &__title {
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
        }
        &__stars {
            svg {
                width: 24px;
                height: 24px;
            }
        }
        &__price {
            p {
                font-size: 32px;
            }
        }
        &__desc {
            color: #00000099;
            letter-spacing: 0.2px;
            line-height: 22px;
        }
        &__subtitle {
            font-size: 16px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            color: #00000099;
        }

        &__colors {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 24px 0;
            border-bottom: 1px solid #ddd;
            &__items {
                display: flex;
                gap: 16px;
                align-items: center;
                span {
                    width: 37px;
                    height: 37px;
                    border-radius: 50%;
                    // border: 2px double red;
                    // padding: 5px;
                    &:first-child {
                        background: #4f4631;
                    }
                    &:nth-child(2) {
                        background: #314f4a;
                    }
                    &:last-child {
                        background: #31344f;
                    }
                }
            }
        }

        &__size {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 24px 0;
            border-bottom: 1px solid #ddd;
            &__items {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 12px;
                button {
                    padding: 12px 24px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21.6px;
                    color: #00000099;
                    border: none;
                    background: #f0f0f0;
                    border-radius: 30px;
                    &:hover {
                        color: #fff;
                        background: #000;
                    }
                    &:focus {
                        color: #fff;
                        background: #000;
                    }
                }
            }
        }
        &__btns {
            display: flex;
            align-items: center;
            gap: 30px;
            padding-top: 14px;
        }
        &__cart-btn {
            height: 50px;
            background: #000;
            color: #fff;
            width: 100%;
            border: none;
            border-radius: 50px;
            font-size: 16px;
        }

        .counter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 170px;
            gap: 30px;
            background: #efeeec;
            border-radius: 50px;
            button {
                height: 50px;
                padding: 14px 20px;
                border: none;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            span {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

    &__like__cards {
        padding: 60px 0 0;
    }

    @media (max-width: 1000px) {
        &__images {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            &__exams {
                height: 200px;
                span {
                    background: #ddd;
                    width: 33.3%;
                }
                img {
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    @media (max-width: 750px) {
        &__info {
            .counter {
                width: 120px;
                gap: 10px;
                button {
                    height: 50px;
                    padding: 14px 10px;
                    font-size: 24px;
                }
            }
        }
    }
    @media (max-width: 750px) {
        &__details {
            flex-direction: column;
        }
        &__images {
            width: 100%;
            &__exams {
                height: 120px;
            }
            &__main {
                height: 360px;
            }
        }
        &__info {
            width: 100%;
        }
    }
}
