.createProduct {
    padding: 30px;
    h1 {
        padding-bottom: 30px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 500px;
        align-items: start;
    }
    &__input {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 100%;
        input,
        select,
        textarea {
            background: #f8f8f8;
            border: none;
            outline: none;
            padding: 10px;
            border-radius: 8px;
            font-size: 16px;
            resize: none;
        }
    }
    button {
        padding: 10px 40px;
        background: #000;
        color: #fff;
        border-radius: 8px;
    }
}

.create-btn:disabled {
    opacity: 0.8;
}
